html {
    line-height: 1.15;
}


body {
    /* 画像ファイルの指定 */
    background-image: url(http://natgeo.nikkeibp.co.jp/nng/images/photo/tree-canopy-honduras.jpg);

    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;

    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;

    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;

    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;

    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #464646;
}

.prof-pic {
    width: 200px;
    border-radius: 1000px;
}


.contents-wrapper{
    text-align: center;
    color: white;
    font-size: 25px;
    margin-bottom: 200px;
}

.contents-lsit-wrapper {
    padding-top: 50px;
}

.contact-form {
    text-align: center;
    color: #FFFFFF;
}

input,textarea {
    width:250px;
    margin-top:10px;
    margin-bottom:30px;
    padding:20px;
    font-size:15px;
    border:1px solid #dee7ec;
    border-radius: 15px;
}

.contact-submit {
    background-color: #777777;
    margin-top: 100px;
}




































/*ul {*/
    /*list-style:none;*/
/*}*/

/*.logo{*/
    /*text-align: center;*/
    /*padding-top: 20px;*/
    /*margin: 0 auto;*/
    /*width: 200px;*/
/*}*/

/*.sns ul {*/
    /*padding: 15px;*/
/*}*/

/*main{*/
    /*text-align: center;*/
    /*color:black;*/
/*}*/


/*.prof-pic{*/
    /*height: 150px;*/
    /*width: 150px;*/
    /*padding-bottom: 45px;*/
/*}*/


/*.intro-category {*/
    /*font-weight: bolder;*/
/*}*/

/*.intro-category p {*/
    /*font-size: 23px;*/
    /*font-weight: bold;*/
    /*color: #9966FF;*/
    /*margin-top: 100px;*/
/*}*/

/*.intro-category ul {*/
    /*line-height: 100px;*/
/*}*/

/*.contact-form  {*/

/*}*/








